body {
    font-family: 'Open sans', sans-serif;
    background-color: #a8dadc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #f1faee;
    width: 900px;
    height: 600px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    width: 50%;
    border: none;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

input {
    width: 30%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px 2px;

}

input:focus {
    box-shadow: 0 0 10px #5fbeb3;
    border: 1px solid #5fbeb3;
    outline: none;
}

.group {
    flex: 1;
    margin-bottom: 10px
}


.reg {
    text-align: center;
}

.button {
    width: 40%;
    padding: 10px 15px;
    border-radius: 0.5em;
    text-align: center;
    border: 1px solid black;
}

.button:hover {
    background-color: #cfdef8;
    box-shadow: 0 0 10px #cfdef8;
}

.confirm {
    margin-top: 10px;
}