body {
    font-family: 'Open sans', sans-serif;
    background-color: #F5F5F5;
    height: 100vh;
}

h1 {
    background-color: rgba(255, 219, 58, 0.3);
    padding: 15px 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    margin: 80px auto;
    width: 90%;
    max-width: 800px;
}

.registration {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid #ffdb3a;
}

.field {
    width: 60%;
    border: 1px solid #C8C8C8;
    background-color: #fafafa;
    padding: 5px 3px;
    margin: 10px 80px;
    text-align: center;
}

.rad {
    width: 60%;
    padding: 5px 3px;
    margin: 10px 100px;
    display: inline-flex;
    justify-content: space-between;
}

.field:focus {
    outline: none;
    border: 1px solid black;
    background-color: white;
}

input::placeholder {
    text-align: center;
}

div {
    text-align: center;
}

.confirm {
    margin-top: 20px;
}

a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: #5a00ff;
    background: #ffffff;
    border: 1px solid #5a00ff;
}

a:hover {
    color: #ffffff;
    background: #5a00ff;
    border: 1px solid #5a00ff;
}

a:active {
    color: #ffffff;
    background: red;
    border: 1px solid red;
}

.button {
    padding: 10px 20px;
    margin: 10px 0;
    background: rgba(255, 219, 58, 0.3);
    border: 1px solid #c8c8c8;
    border-radius: 3px;
}

.button:hover {
    background: #ffdb3a;
}

.button:active {
    border: 1px solid black;
}