body {
    font-family: 'Open sans', sans-serif;
    background-color: #F5F5F5;
    min-height: 100vh;
}

h1 {
    background-color: rgba(255, 219, 58, 0.3);
    padding: 15px 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    margin: 80px auto;
    width: 90%;
    max-width: 800px;
}

.registration {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid #ffdb3a;
}

.field {
    width: 100%;
    border: 1px solid #C8C8C8;
    background-color: #fafafa;
    padding: 5px 3px;
    margin: 10px 80px;
}

.field:focus {
    outline: none;
    border: 1px solid black;
    background-color: white;
}

input::placeholder {
    text-align: center;
}

div {
    text-align: center;
}


/*
.form_2 {
    margin-bottom: 10px;
}

.field {
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px 2px;
    width: 100%;
}

input:focus {
    box-shadow: 0 0 10px #5fbeb3;
    border: 1px solid #5fbeb3;
    outline: none;
}

.reg {
    text-align: center;
}

.button {
    padding: 10px 15px;
    border-radius: 0.5em;
    text-align: center;
    border: 1px solid black;
}

.button:hover {
    background-color: #cfdef8;
    box-shadow: 0 0 10px #cfdef8;
}



*/